@import "../styles/variables.scss";
.children {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border: $border;
  width: 90%;
  margin: 2em;
  

  &__header {
    padding-top: .5em;
    color: rgb(167, 201, 179);
  
    text-align: center;
    margin: 0 auto;

  }

  &__header text--light {
    color: grey;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0px;
    margin: 0 auto;
  }
}
.add-button {
  // margin-top: 10px;
  margin: 1em;
  // width: auto;
  // padding: 0 40px 0 40px;
  width: 6em;
  // height: 2em;
  background-color: $background-color;
  color:rgb(87, 104, 98);
  display: flex;
  justify-content: center;

  
  // align-content: center;
}

.fa-regular fa-circle-xmark {
  align-self: flex-end;
}

.text--semi-bold{
  margin: 1em 1em 0 1em;
  max-height: 2.5em;
  // border: $border;
  border-radius: 10px;
  border: 2px solid rgb(167, 201, 179);
}

.children-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.child-form{
  
  
  display: flex;
  justify-content: flex-start;
  align-content: center;

}

.select-color{
  padding: 2px;
  font-size: small;
  max-height: 2.5em;
  align-self: center;
}