@import "../styles/variables.scss";
.children {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  border: $border;
  width: 90%;
  margin: 2em;
  

  &__header {
    padding-top: .5em;
    color: rgb(167, 201, 179);
  
    text-align: center;
    margin: 0 auto;

  }

  &__header text--light {
    color: grey;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0px;
    margin: 0 auto;
  }
}
.add-button {
  // margin-top: 10px;
  margin: 1em;
  width: auto;
  padding: 0 40px 0 40px;
  // height: 2em;
  display: flex;
  justify-content: center;

  
  // align-content: center;
}

// .child-list-title{
//   width: 100%;
//   align-self: center;
// }

.text--semi-bold{
  margin: 1em 1em 0 1em;

}

.children-actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}