.children {

  background-color: white;
  border-radius: 1.5em;
  
  &__item {

    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    &-image {
      width: 70px;
      height: 40px;
      margin: 10px
    }

    &--selected {

      border-radius: 16px;
      background-color: red;
      display: flex;
      align-items: center;
      user-select: none;
    }

    &--selected &-image {
      width: 90px;
      height: 55px;
     
    }

    &--selected,
    &:hover {
      background-color: white;
    }
  }
}
