.children {

  background-color: white;
  border-radius: 1.5em;
  
  &__item {

    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    &-image {
      width: 70px;
      height: 40px;
      margin: 10px
    }

    &--selected {

      // border-radius: 16px;
      // background-color: red;
      display: flex;
      align-items: center;
      user-select: none;
      // height: 2.5em;
      // width: 2.5em;
      // border-radius: 50%;
      border: 2px black;
    }

    &--selected &-image {
      width: 90px;
      height: 55px;
     
    }

    &--selected,
    &:hover {
      background-color: white;
    }
  }
}
// .color-profile{
//   height: 2em;
//   width: 2em;
//   border-radius: 50%;
//   // background-color: aquamarine;
//   align-self: center;
//   margin-bottom: .5em;
//   // &--pink{
//   //   background-color: #ffc0cb;
//   // }
//   // &--purple{
//   //   background-color: #9267af
//   // }
//   // &--blue{
//   //   #415ba3
//   // }
// }




.color__class--pink{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #ffc0cb;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--purple{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #9267af;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--blue{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #415ba3;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--green{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #41a375;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--yellow{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #f7ed65;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--light-blue{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: #a4b4dd;
  align-self: center;
  margin-bottom: .5em;
}
.color__class--neutral{
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: rgb(146, 129, 103);
  align-self: center;
  margin-bottom: .5em;
}


