
.time {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;

}


.medication-form{
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
}
.medication__form--actions{
  display: flex;
  flex-direction: row;
  margin: 10px;
  
  button{
   margin: 0 auto;
    justify-content:space-around;
  }
}