@import '../styles/variables.scss';
.time {
  display: flex;
  flex-direction: row;
  margin: 20px 0 20px 0;

}

.select-name{
  border-radius: 4px;
  border: none;
}
input {
  border-radius: 4px;
  border: none;
  border: 1px solid $background-color;
}
.medication-form{
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px;
 
}
.medication__form--actions{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.form-button{
  padding: 0 20px 0 20px;
}
// .fa-circle-xmark{

// }

.each-time{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

label {
  margin-bottom: 5px;
  margin-top: 5px;
}

.medication__form {
  color: rgb(114, 111, 107);
  flex-wrap: wrap;
  width: 50%;
  max-width: 50%;
  align-content: center;
}

.with-food{
  margin-bottom: 1em;
}