@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap');
@import "../styles/variables.scss";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css);

* {
  box-sizing: border-box;
}

.medication-item{
  display: flex;
  background-color: white;
  border-radius: 12px;
  height: $card-height;
  margin: 1em;
  width: 90%;
  border: 3px solid #0b6952
}

.scheduled-time{
  flex-direction: row;
  position: relative;
  width: 8em;
  height: $card-height;
  left: 1em;
}


.medication-name{
  align-self: center;
  position: relative;
  top: -1.5em;
  justify-content: center;

  .name-dose{
    flex-direction: row;
    font-size: 14px;
    align-content: center;
  }

}
.medication-time-name{
  display: flex;
  justify-content: start;
  flex-direction: column;
  flex-grow: 9;
}
.medication-item-icons{
  width: .5em;
  align-self: flex-end;
  justify-content: flex-end;
  flex-grow: .5;
  cursor: pointer;
}
