@import "../styles/variables.scss";

.status__card {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.animated {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hand {
  height: 6em;
  position: relative;
}
.bottle {
  position: relative;
  height: 5em;
  animation-name: med-bottle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes med-bottle {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.5,.5) translateY(30px); }
  30%  { transform: scale(.9,1.1) translateY(-100px); }
  50%  { transform: scale(1.1,.9)    translateY(10px); }
  57%  { transform: scale(1,1)    translateY(-7px); }
  64%  { transform: scale(1.1,.9)    translateY(5px); }
  100% { transform: scale(1,1)    translateY(0); }
}


