@import "../styles/variables.scss";

.status__card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.animated {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hand {
  height: 6em;
}
.bottle {
  position: absolute;
  animation: delay;
}
