@import "./styles/variables.scss";
// @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');

nav {
  // font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 1em;

}

.day-name{
  padding-top: 19px;
  font-size: 2em;
  font-weight: bolder;
  
}

.component {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 2em;
}

button {
  // padding: 0 40px 0 40px;
  max-height: 2.5em;
  border-radius: 10px;
  border: none;
  background-color: white;
  border: $border;
  cursor: pointer;
}
.add-medication{
  border: none;
  background-color: white;
  border: $border;
  height: 2.5em;
  width: 90%;
  // color:rgb(87, 104, 98);
}
.nav-icon {
  height: 2em;
  padding-top: 1.5em;
  cursor: pointer;
}